$flex-display: flex;

.recipes-body {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.recipe-card {
    background-color: rgb(238, 238, 238);
    display: $flex-display;
    justify-content: space-between;
    border: solid 2px black;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.recipe-img {
    width: 150px;
    height: 150px;
}

.ingredients {
    display: $flex-display;
    flex-direction: column;
    align-items: center;
}

.instructions {
    display: $flex-display;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.title {
    display: $flex-display;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
}

button {
    margin-top: 40px;
    width: 50px;
}